* {
    margin: 0;
    padding: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
    background-color: #1da7b4;
    height: 55vh;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1rem;
}


/*  inicio del body*/

.body {
    margin: 1rem;
    width: 310px;
    height: 480px;
    background-color: #53CED2;
    margin: 0 auto;
    margin-bottom: 1rem;
}


/*  fin del body*/