.attribution {
    font-size: 11px;
    text-align: center;
}

body {
    background-color: cadetblue;
}

.attribution a {
    color: hsl(327, 59%, 62%);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}