* {
    margin: 0;
    padding: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
    background-color: #1da7b4;
    height: 55vh;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1rem;
}


/*  inicio del body*/

.body {
    margin: 1rem;
    width: 310px;
    height: 480px;
    background-color: #53CED2;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*  fin del body*/


/*  inicio del container*/

.container {
    margin: 0 auto;
    height: 60%;
    width: 90%;
    background-color: seashell;
    border-radius: 2%;
}


/*  fin del container*/